@import "fonts/font-awesome";
@import "fonts/font-material";
@import "fonts/font-octicons";
@import "fonts/font-abezeh";
@import url(https://fonts.googleapis.com/css?family=Grand+Hotel);


.bt-icon {
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  line-height: $fonts-icon-line-height-base;
  vertical-align: text-top;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: normal;
}

.bt-icon.material {
  font-family: 'Material Icons';
  line-height: $fonts-material-line-height;
}

.bt-icon.octicon {
  font-family: 'octicons';
  line-height: $fonts-octicon-line-height;
}

.bt-icon.fa {
  font-family: 'FontAwesome';
  line-height: $fonts-fa-line-height;
}

.cursive {
  font-family: "Grand Hotel"
}
