@font-face {
  font-family: 'Material Icons';
  src: url('#{$fonts-material-path}/MaterialIcons-Regular.eot?#iefix&v=#{$fonts-material-version}') format('embedded-opentype'); /* For IE6-8 */
  src: url('#{$fonts-material-path}/MaterialIcons-Regular.woff2?v=#{$fonts-material-version}') format('woff2'),
       url('#{$fonts-material-path}/MaterialIcons-Regular.woff?v=#{$fonts-material-version}') format('woff'),
       url('#{$fonts-material-path}/MaterialIcons-Regular.ttf?v=#{$fonts-material-version}') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.material-3d_rotation:before { content: '\e84d';}
.material-ac_unit:before { content: '\eb3b';}
.material-access_alarm:before { content: '\e190';}
.material-access_alarms:before { content: '\e191';}
.material-access_time:before { content: '\e192';}
.material-accessibility:before { content: '\e84e';}
.material-accessible:before { content: '\e914';}
.material-account_balance:before { content: '\e84f';}
.material-account_balance_wallet:before { content: '\e850';}
.material-account_box:before { content: '\e851';}
.material-account_circle:before { content: '\e853';}
.material-adb:before { content: '\e60e';}
.material-add:before { content: '\e145';}
.material-add_a_photo:before { content: '\e439';}
.material-add_alarm:before { content: '\e193';}
.material-add_alert:before { content: '\e003';}
.material-add_box:before { content: '\e146';}
.material-add_circle:before { content: '\e147';}
.material-add_circle_outline:before { content: '\e148';}
.material-add_location:before { content: '\e567';}
.material-add_shopping_cart:before { content: '\e854';}
.material-add_to_photos:before { content: '\e39d';}
.material-add_to_queue:before { content: '\e05c';}
.material-adjust:before { content: '\e39e';}
.material-airline_seat_flat:before { content: '\e630';}
.material-airline_seat_flat_angled:before { content: '\e631';}
.material-airline_seat_individual_suite:before { content: '\e632';}
.material-airline_seat_legroom_extra:before { content: '\e633';}
.material-airline_seat_legroom_normal:before { content: '\e634';}
.material-airline_seat_legroom_reduced:before { content: '\e635';}
.material-airline_seat_recline_extra:before { content: '\e636';}
.material-airline_seat_recline_normal:before { content: '\e637';}
.material-airplanemode_active:before { content: '\e195';}
.material-airplanemode_inactive:before { content: '\e194';}
.material-airplay:before { content: '\e055';}
.material-airport_shuttle:before { content: '\eb3c';}
.material-alarm:before { content: '\e855';}
.material-alarm_add:before { content: '\e856';}
.material-alarm_off:before { content: '\e857';}
.material-alarm_on:before { content: '\e858';}
.material-album:before { content: '\e019';}
.material-all_inclusive:before { content: '\eb3d';}
.material-all_out:before { content: '\e90b';}
.material-android:before { content: '\e859';}
.material-announcement:before { content: '\e85a';}
.material-apps:before { content: '\e5c3';}
.material-archive:before { content: '\e149';}
.material-arrow_back:before { content: '\e5c4';}
.material-arrow_downward:before { content: '\e5db';}
.material-arrow_drop_down:before { content: '\e5c5';}
.material-arrow_drop_down_circle:before { content: '\e5c6';}
.material-arrow_drop_up:before { content: '\e5c7';}
.material-arrow_forward:before { content: '\e5c8';}
.material-arrow_upward:before { content: '\e5d8';}
.material-art_track:before { content: '\e060';}
.material-aspect_ratio:before { content: '\e85b';}
.material-assessment:before { content: '\e85c';}
.material-assignment:before { content: '\e85d';}
.material-assignment_ind:before { content: '\e85e';}
.material-assignment_late:before { content: '\e85f';}
.material-assignment_return:before { content: '\e860';}
.material-assignment_returned:before { content: '\e861';}
.material-assignment_turned_in:before { content: '\e862';}
.material-assistant:before { content: '\e39f';}
.material-assistant_photo:before { content: '\e3a0';}
.material-attach_file:before { content: '\e226';}
.material-attach_money:before { content: '\e227';}
.material-attachment:before { content: '\e2bc';}
.material-audiotrack:before { content: '\e3a1';}
.material-autorenew:before { content: '\e863';}
.material-av_timer:before { content: '\e01b';}
.material-backspace:before { content: '\e14a';}
.material-backup:before { content: '\e864';}
.material-battery_alert:before { content: '\e19c';}
.material-battery_charging_full:before { content: '\e1a3';}
.material-battery_full:before { content: '\e1a4';}
.material-battery_std:before { content: '\e1a5';}
.material-battery_unknown:before { content: '\e1a6';}
.material-beach_access:before { content: '\eb3e';}
.material-beenhere:before { content: '\e52d';}
.material-block:before { content: '\e14b';}
.material-bluetooth:before { content: '\e1a7';}
.material-bluetooth_audio:before { content: '\e60f';}
.material-bluetooth_connected:before { content: '\e1a8';}
.material-bluetooth_disabled:before { content: '\e1a9';}
.material-bluetooth_searching:before { content: '\e1aa';}
.material-blur_circular:before { content: '\e3a2';}
.material-blur_linear:before { content: '\e3a3';}
.material-blur_off:before { content: '\e3a4';}
.material-blur_on:before { content: '\e3a5';}
.material-book:before { content: '\e865';}
.material-bookmark:before { content: '\e866';}
.material-bookmark_border:before { content: '\e867';}
.material-border_all:before { content: '\e228';}
.material-border_bottom:before { content: '\e229';}
.material-border_clear:before { content: '\e22a';}
.material-border_color:before { content: '\e22b';}
.material-border_horizontal:before { content: '\e22c';}
.material-border_inner:before { content: '\e22d';}
.material-border_left:before { content: '\e22e';}
.material-border_outer:before { content: '\e22f';}
.material-border_right:before { content: '\e230';}
.material-border_style:before { content: '\e231';}
.material-border_top:before { content: '\e232';}
.material-border_vertical:before { content: '\e233';}
.material-brightness_1:before { content: '\e3a6';}
.material-brightness_2:before { content: '\e3a7';}
.material-brightness_3:before { content: '\e3a8';}
.material-brightness_4:before { content: '\e3a9';}
.material-brightness_5:before { content: '\e3aa';}
.material-brightness_6:before { content: '\e3ab';}
.material-brightness_7:before { content: '\e3ac';}
.material-brightness_auto:before { content: '\e1ab';}
.material-brightness_high:before { content: '\e1ac';}
.material-brightness_low:before { content: '\e1ad';}
.material-brightness_medium:before { content: '\e1ae';}
.material-broken_image:before { content: '\e3ad';}
.material-brush:before { content: '\e3ae';}
.material-bug_report:before { content: '\e868';}
.material-build:before { content: '\e869';}
.material-business:before { content: '\e0af';}
.material-business_center:before { content: '\eb3f';}
.material-cached:before { content: '\e86a';}
.material-cake:before { content: '\e7e9';}
.material-call:before { content: '\e0b0';}
.material-call_end:before { content: '\e0b1';}
.material-call_made:before { content: '\e0b2';}
.material-call_merge:before { content: '\e0b3';}
.material-call_missed:before { content: '\e0b4';}
.material-call_missed_outgoing:before { content: '\e0e4';}
.material-call_received:before { content: '\e0b5';}
.material-call_split:before { content: '\e0b6';}
.material-camera:before { content: '\e3af';}
.material-camera_alt:before { content: '\e3b0';}
.material-camera_enhance:before { content: '\e8fc';}
.material-camera_front:before { content: '\e3b1';}
.material-camera_rear:before { content: '\e3b2';}
.material-camera_roll:before { content: '\e3b3';}
.material-cancel:before { content: '\e5c9';}
.material-card_giftcard:before { content: '\e8f6';}
.material-card_membership:before { content: '\e8f7';}
.material-card_travel:before { content: '\e8f8';}
.material-casino:before { content: '\eb40';}
.material-cast:before { content: '\e307';}
.material-cast_connected:before { content: '\e308';}
.material-center_focus_strong:before { content: '\e3b4';}
.material-center_focus_weak:before { content: '\e3b5';}
.material-change_history:before { content: '\e86b';}
.material-chat:before { content: '\e0b7';}
.material-chat_bubble:before { content: '\e0ca';}
.material-chat_bubble_outline:before { content: '\e0cb';}
.material-check:before { content: '\e5ca';}
.material-check_box:before { content: '\e834';}
.material-check_box_outline_blank:before { content: '\e835';}
.material-check_circle:before { content: '\e86c';}
.material-chevron_left:before { content: '\e5cb';}
.material-chevron_right:before { content: '\e5cc';}
.material-child_care:before { content: '\eb41';}
.material-child_friendly:before { content: '\eb42';}
.material-chrome_reader_mode:before { content: '\e86d';}
.material-class:before { content: '\e86e';}
.material-clear:before { content: '\e14c';}
.material-clear_all:before { content: '\e0b8';}
.material-close:before { content: '\e5cd';}
.material-closed_caption:before { content: '\e01c';}
.material-cloud:before { content: '\e2bd';}
.material-cloud_circle:before { content: '\e2be';}
.material-cloud_done:before { content: '\e2bf';}
.material-cloud_download:before { content: '\e2c0';}
.material-cloud_off:before { content: '\e2c1';}
.material-cloud_queue:before { content: '\e2c2';}
.material-cloud_upload:before { content: '\e2c3';}
.material-code:before { content: '\e86f';}
.material-collections:before { content: '\e3b6';}
.material-collections_bookmark:before { content: '\e431';}
.material-color_lens:before { content: '\e3b7';}
.material-colorize:before { content: '\e3b8';}
.material-comment:before { content: '\e0b9';}
.material-compare:before { content: '\e3b9';}
.material-compare_arrows:before { content: '\e915';}
.material-computer:before { content: '\e30a';}
.material-confirmation_number:before { content: '\e638';}
.material-contact_mail:before { content: '\e0d0';}
.material-contact_phone:before { content: '\e0cf';}
.material-contacts:before { content: '\e0ba';}
.material-content_copy:before { content: '\e14d';}
.material-content_cut:before { content: '\e14e';}
.material-content_paste:before { content: '\e14f';}
.material-control_point:before { content: '\e3ba';}
.material-control_point_duplicate:before { content: '\e3bb';}
.material-copyright:before { content: '\e90c';}
.material-create:before { content: '\e150';}
.material-create_new_folder:before { content: '\e2cc';}
.material-credit_card:before { content: '\e870';}
.material-crop:before { content: '\e3be';}
.material-crop_16_9:before { content: '\e3bc';}
.material-crop_3_2:before { content: '\e3bd';}
.material-crop_5_4:before { content: '\e3bf';}
.material-crop_7_5:before { content: '\e3c0';}
.material-crop_din:before { content: '\e3c1';}
.material-crop_free:before { content: '\e3c2';}
.material-crop_landscape:before { content: '\e3c3';}
.material-crop_original:before { content: '\e3c4';}
.material-crop_portrait:before { content: '\e3c5';}
.material-crop_rotate:before { content: '\e437';}
.material-crop_square:before { content: '\e3c6';}
.material-dashboard:before { content: '\e871';}
.material-data_usage:before { content: '\e1af';}
.material-date_range:before { content: '\e916';}
.material-dehaze:before { content: '\e3c7';}
.material-delete:before { content: '\e872';}
.material-description:before { content: '\e873';}
.material-desktop_mac:before { content: '\e30b';}
.material-desktop_windows:before { content: '\e30c';}
.material-details:before { content: '\e3c8';}
.material-developer_board:before { content: '\e30d';}
.material-developer_mode:before { content: '\e1b0';}
.material-device_hub:before { content: '\e335';}
.material-devices:before { content: '\e1b1';}
.material-devices_other:before { content: '\e337';}
.material-dialer_sip:before { content: '\e0bb';}
.material-dialpad:before { content: '\e0bc';}
.material-directions:before { content: '\e52e';}
.material-directions_bike:before { content: '\e52f';}
.material-directions_boat:before { content: '\e532';}
.material-directions_bus:before { content: '\e530';}
.material-directions_car:before { content: '\e531';}
.material-directions_railway:before { content: '\e534';}
.material-directions_run:before { content: '\e566';}
.material-directions_subway:before { content: '\e533';}
.material-directions_transit:before { content: '\e535';}
.material-directions_walk:before { content: '\e536';}
.material-disc_full:before { content: '\e610';}
.material-dns:before { content: '\e875';}
.material-do_not_disturb:before { content: '\e612';}
.material-do_not_disturb_alt:before { content: '\e611';}
.material-dock:before { content: '\e30e';}
.material-domain:before { content: '\e7ee';}
.material-done:before { content: '\e876';}
.material-done_all:before { content: '\e877';}
.material-donut_large:before { content: '\e917';}
.material-donut_small:before { content: '\e918';}
.material-drafts:before { content: '\e151';}
.material-drag_handle:before { content: '\e25d';}
.material-drive_eta:before { content: '\e613';}
.material-dvr:before { content: '\e1b2';}
.material-edit:before { content: '\e3c9';}
.material-edit_location:before { content: '\e568';}
.material-eject:before { content: '\e8fb';}
.material-email:before { content: '\e0be';}
.material-enhanced_encryption:before { content: '\e63f';}
.material-equalizer:before { content: '\e01d';}
.material-error:before { content: '\e000';}
.material-error_outline:before { content: '\e001';}
.material-event:before { content: '\e878';}
.material-event_available:before { content: '\e614';}
.material-event_busy:before { content: '\e615';}
.material-event_note:before { content: '\e616';}
.material-event_seat:before { content: '\e903';}
.material-exit_to_app:before { content: '\e879';}
.material-expand_less:before { content: '\e5ce';}
.material-expand_more:before { content: '\e5cf';}
.material-explicit:before { content: '\e01e';}
.material-explore:before { content: '\e87a';}
.material-exposure:before { content: '\e3ca';}
.material-exposure_neg_1:before { content: '\e3cb';}
.material-exposure_neg_2:before { content: '\e3cc';}
.material-exposure_plus_1:before { content: '\e3cd';}
.material-exposure_plus_2:before { content: '\e3ce';}
.material-exposure_zero:before { content: '\e3cf';}
.material-extension:before { content: '\e87b';}
.material-face:before { content: '\e87c';}
.material-fast_forward:before { content: '\e01f';}
.material-fast_rewind:before { content: '\e020';}
.material-favorite:before { content: '\e87d';}
.material-favorite_border:before { content: '\e87e';}
.material-feedback:before { content: '\e87f';}
.material-fiber_dvr:before { content: '\e05d';}
.material-fiber_manual_record:before { content: '\e061';}
.material-fiber_new:before { content: '\e05e';}
.material-fiber_pin:before { content: '\e06a';}
.material-fiber_smart_record:before { content: '\e062';}
.material-file_download:before { content: '\e2c4';}
.material-file_upload:before { content: '\e2c6';}
.material-filter:before { content: '\e3d3';}
.material-filter_1:before { content: '\e3d0';}
.material-filter_2:before { content: '\e3d1';}
.material-filter_3:before { content: '\e3d2';}
.material-filter_4:before { content: '\e3d4';}
.material-filter_5:before { content: '\e3d5';}
.material-filter_6:before { content: '\e3d6';}
.material-filter_7:before { content: '\e3d7';}
.material-filter_8:before { content: '\e3d8';}
.material-filter_9:before { content: '\e3d9';}
.material-filter_9_plus:before { content: '\e3da';}
.material-filter_b_and_w:before { content: '\e3db';}
.material-filter_center_focus:before { content: '\e3dc';}
.material-filter_drama:before { content: '\e3dd';}
.material-filter_frames:before { content: '\e3de';}
.material-filter_hdr:before { content: '\e3df';}
.material-filter_list:before { content: '\e152';}
.material-filter_none:before { content: '\e3e0';}
.material-filter_tilt_shift:before { content: '\e3e2';}
.material-filter_vintage:before { content: '\e3e3';}
.material-find_in_page:before { content: '\e880';}
.material-find_replace:before { content: '\e881';}
.material-fingerprint:before { content: '\e90d';}
.material-fitness_center:before { content: '\eb43';}
.material-flag:before { content: '\e153';}
.material-flare:before { content: '\e3e4';}
.material-flash_auto:before { content: '\e3e5';}
.material-flash_off:before { content: '\e3e6';}
.material-flash_on:before { content: '\e3e7';}
.material-flight:before { content: '\e539';}
.material-flight_land:before { content: '\e904';}
.material-flight_takeoff:before { content: '\e905';}
.material-flip:before { content: '\e3e8';}
.material-flip_to_back:before { content: '\e882';}
.material-flip_to_front:before { content: '\e883';}
.material-folder:before { content: '\e2c7';}
.material-folder_open:before { content: '\e2c8';}
.material-folder_shared:before { content: '\e2c9';}
.material-folder_special:before { content: '\e617';}
.material-font_download:before { content: '\e167';}
.material-format_align_center:before { content: '\e234';}
.material-format_align_justify:before { content: '\e235';}
.material-format_align_left:before { content: '\e236';}
.material-format_align_right:before { content: '\e237';}
.material-format_bold:before { content: '\e238';}
.material-format_clear:before { content: '\e239';}
.material-format_color_fill:before { content: '\e23a';}
.material-format_color_reset:before { content: '\e23b';}
.material-format_color_text:before { content: '\e23c';}
.material-format_indent_decrease:before { content: '\e23d';}
.material-format_indent_increase:before { content: '\e23e';}
.material-format_italic:before { content: '\e23f';}
.material-format_line_spacing:before { content: '\e240';}
.material-format_list_bulleted:before { content: '\e241';}
.material-format_list_numbered:before { content: '\e242';}
.material-format_paint:before { content: '\e243';}
.material-format_quote:before { content: '\e244';}
.material-format_shapes:before { content: '\e25e';}
.material-format_size:before { content: '\e245';}
.material-format_strikethrough:before { content: '\e246';}
.material-format_textdirection_l_to_r:before { content: '\e247';}
.material-format_textdirection_r_to_l:before { content: '\e248';}
.material-format_underlined:before { content: '\e249';}
.material-forum:before { content: '\e0bf';}
.material-forward:before { content: '\e154';}
.material-forward_10:before { content: '\e056';}
.material-forward_30:before { content: '\e057';}
.material-forward_5:before { content: '\e058';}
.material-free_breakfast:before { content: '\eb44';}
.material-fullscreen:before { content: '\e5d0';}
.material-fullscreen_exit:before { content: '\e5d1';}
.material-functions:before { content: '\e24a';}
.material-gamepad:before { content: '\e30f';}
.material-games:before { content: '\e021';}
.material-gavel:before { content: '\e90e';}
.material-gesture:before { content: '\e155';}
.material-get_app:before { content: '\e884';}
.material-gif:before { content: '\e908';}
.material-golf_course:before { content: '\eb45';}
.material-gps_fixed:before { content: '\e1b3';}
.material-gps_not_fixed:before { content: '\e1b4';}
.material-gps_off:before { content: '\e1b5';}
.material-grade:before { content: '\e885';}
.material-gradient:before { content: '\e3e9';}
.material-grain:before { content: '\e3ea';}
.material-graphic_eq:before { content: '\e1b8';}
.material-grid_off:before { content: '\e3eb';}
.material-grid_on:before { content: '\e3ec';}
.material-group:before { content: '\e7ef';}
.material-group_add:before { content: '\e7f0';}
.material-group_work:before { content: '\e886';}
.material-hd e052
.material-hdr_off:before { content: '\e3ed';}
.material-hdr_on:before { content: '\e3ee';}
.material-hdr_strong:before { content: '\e3f1';}
.material-hdr_weak:before { content: '\e3f2';}
.material-headset:before { content: '\e310';}
.material-headset_mic:before { content: '\e311';}
.material-healing:before { content: '\e3f3';}
.material-hearing:before { content: '\e023';}
.material-help:before { content: '\e887';}
.material-help_outline:before { content: '\e8fd';}
.material-high_quality:before { content: '\e024';}
.material-highlight:before { content: '\e25f';}
.material-highlight_off:before { content: '\e888';}
.material-history:before { content: '\e889';}
.material-home:before { content: '\e88a';}
.material-hot_tub:before { content: '\eb46';}
.material-hotel:before { content: '\e53a';}
.material-hourglass_empty:before { content: '\e88b';}
.material-hourglass_full:before { content: '\e88c';}
.material-http:before { content: '\e902';}
.material-https:before { content: '\e88d';}
.material-image:before { content: '\e3f4';}
.material-image_aspect_ratio:before { content: '\e3f5';}
.material-import_contacts:before { content: '\e0e0';}
.material-import_export:before { content: '\e0c3';}
.material-important_devices:before { content: '\e912';}
.material-inbox:before { content: '\e156';}
.material-indeterminate_check_box:before { content: '\e909';}
.material-info:before { content: '\e88e';}
.material-info_outline:before { content: '\e88f';}
.material-input:before { content: '\e890';}
.material-insert_chart:before { content: '\e24b';}
.material-insert_comment:before { content: '\e24c';}
.material-insert_drive_file:before { content: '\e24d';}
.material-insert_emoticon:before { content: '\e24e';}
.material-insert_invitation:before { content: '\e24f';}
.material-insert_link:before { content: '\e250';}
.material-insert_photo:before { content: '\e251';}
.material-invert_colors:before { content: '\e891';}
.material-invert_colors_off:before { content: '\e0c4';}
.material-iso:before { content: '\e3f6';}
.material-keyboard:before { content: '\e312';}
.material-keyboard_arrow_down:before { content: '\e313';}
.material-keyboard_arrow_left:before { content: '\e314';}
.material-keyboard_arrow_right:before { content: '\e315';}
.material-keyboard_arrow_up:before { content: '\e316';}
.material-keyboard_backspace:before { content: '\e317';}
.material-keyboard_capslock:before { content: '\e318';}
.material-keyboard_hide:before { content: '\e31a';}
.material-keyboard_return:before { content: '\e31b';}
.material-keyboard_tab:before { content: '\e31c';}
.material-keyboard_voice:before { content: '\e31d';}
.material-kitchen:before { content: '\eb47';}
.material-label:before { content: '\e892';}
.material-label_outline:before { content: '\e893';}
.material-landscape:before { content: '\e3f7';}
.material-language:before { content: '\e894';}
.material-laptop:before { content: '\e31e';}
.material-laptop_chromebook:before { content: '\e31f';}
.material-laptop_mac:before { content: '\e320';}
.material-laptop_windows:before { content: '\e321';}
.material-launch:before { content: '\e895';}
.material-layers:before { content: '\e53b';}
.material-layers_clear:before { content: '\e53c';}
.material-leak_add:before { content: '\e3f8';}
.material-leak_remove:before { content: '\e3f9';}
.material-lens:before { content: '\e3fa';}
.material-library_add:before { content: '\e02e';}
.material-library_books:before { content: '\e02f';}
.material-library_music:before { content: '\e030';}
.material-lightbulb_outline:before { content: '\e90f';}
.material-line_style:before { content: '\e919';}
.material-line_weight:before { content: '\e91a';}
.material-linear_scale:before { content: '\e260';}
.material-link:before { content: '\e157';}
.material-linked_camera:before { content: '\e438';}
.material-list:before { content: '\e896';}
.material-live_help:before { content: '\e0c6';}
.material-live_tv:before { content: '\e639';}
.material-local_activity:before { content: '\e53f';}
.material-local_airport:before { content: '\e53d';}
.material-local_atm:before { content: '\e53e';}
.material-local_bar:before { content: '\e540';}
.material-local_cafe:before { content: '\e541';}
.material-local_car_wash:before { content: '\e542';}
.material-local_convenience_store:before { content: '\e543';}
.material-local_dining:before { content: '\e556';}
.material-local_drink:before { content: '\e544';}
.material-local_florist:before { content: '\e545';}
.material-local_gas_station:before { content: '\e546';}
.material-local_grocery_store:before { content: '\e547';}
.material-local_hospital:before { content: '\e548';}
.material-local_hotel:before { content: '\e549';}
.material-local_laundry_service:before { content: '\e54a';}
.material-local_library:before { content: '\e54b';}
.material-local_mall:before { content: '\e54c';}
.material-local_movies:before { content: '\e54d';}
.material-local_offer:before { content: '\e54e';}
.material-local_parking:before { content: '\e54f';}
.material-local_pharmacy:before { content: '\e550';}
.material-local_phone:before { content: '\e551';}
.material-local_pizza:before { content: '\e552';}
.material-local_play:before { content: '\e553';}
.material-local_post_office:before { content: '\e554';}
.material-local_printshop:before { content: '\e555';}
.material-local_see:before { content: '\e557';}
.material-local_shipping:before { content: '\e558';}
.material-local_taxi:before { content: '\e559';}
.material-location_city:before { content: '\e7f1';}
.material-location_disabled:before { content: '\e1b6';}
.material-location_off:before { content: '\e0c7';}
.material-location_on:before { content: '\e0c8';}
.material-location_searching:before { content: '\e1b7';}
.material-lock:before { content: '\e897';}
.material-lock_open:before { content: '\e898';}
.material-lock_outline:before { content: '\e899';}
.material-looks:before { content: '\e3fc';}
.material-looks_3:before { content: '\e3fb';}
.material-looks_4:before { content: '\e3fd';}
.material-looks_5:before { content: '\e3fe';}
.material-looks_6:before { content: '\e3ff';}
.material-looks_one:before { content: '\e400';}
.material-looks_two:before { content: '\e401';}
.material-loop:before { content: '\e028';}
.material-loupe:before { content: '\e402';}
.material-loyalty:before { content: '\e89a';}
.material-mail:before { content: '\e158';}
.material-mail_outline:before { content: '\e0e1';}
.material-map:before { content: '\e55b';}
.material-markunread:before { content: '\e159';}
.material-markunread_mailbox:before { content: '\e89b';}
.material-memory:before { content: '\e322';}
.material-menu:before { content: '\e5d2';}
.material-merge_type:before { content: '\e252';}
.material-message:before { content: '\e0c9';}
.material-mic:before { content: '\e029';}
.material-mic_none:before { content: '\e02a';}
.material-mic_off:before { content: '\e02b';}
.material-mms:before { content: '\e618';}
.material-mode_comment:before { content: '\e253';}
.material-mode_edit:before { content: '\e254';}
.material-money_off:before { content: '\e25c';}
.material-monochrome_photos:before { content: '\e403';}
.material-mood:before { content: '\e7f2';}
.material-mood_bad:before { content: '\e7f3';}
.material-more:before { content: '\e619';}
.material-more_horiz:before { content: '\e5d3';}
.material-more_vert:before { content: '\e5d4';}
.material-motorcycle:before { content: '\e91b';}
.material-mouse:before { content: '\e323';}
.material-move_to_inbox:before { content: '\e168';}
.material-movie:before { content: '\e02c';}
.material-movie_creation:before { content: '\e404';}
.material-movie_filter:before { content: '\e43a';}
.material-music_note:before { content: '\e405';}
.material-music_video:before { content: '\e063';}
.material-my_location:before { content: '\e55c';}
.material-nature:before { content: '\e406';}
.material-nature_people:before { content: '\e407';}
.material-navigate_before:before { content: '\e408';}
.material-navigate_next:before { content: '\e409';}
.material-navigation:before { content: '\e55d';}
.material-near_me:before { content: '\e569';}
.material-network_cell:before { content: '\e1b9';}
.material-network_check:before { content: '\e640';}
.material-network_locked:before { content: '\e61a';}
.material-network_wifi:before { content: '\e1ba';}
.material-new_releases:before { content: '\e031';}
.material-next_week:before { content: '\e16a';}
.material-nfc:before { content: '\e1bb';}
.material-no_encryption:before { content: '\e641';}
.material-no_sim:before { content: '\e0cc';}
.material-not_interested:before { content: '\e033';}
.material-note_add:before { content: '\e89c';}
.material-notifications:before { content: '\e7f4';}
.material-notifications_active:before { content: '\e7f7';}
.material-notifications_none:before { content: '\e7f5';}
.material-notifications_off:before { content: '\e7f6';}
.material-notifications_paused:before { content: '\e7f8';}
.material-offline_pin:before { content: '\e90a';}
.material-ondemand_video:before { content: '\e63a';}
.material-opacity:before { content: '\e91c';}
.material-open_in_browser:before { content: '\e89d';}
.material-open_in_new:before { content: '\e89e';}
.material-open_with:before { content: '\e89f';}
.material-pages:before { content: '\e7f9';}
.material-pageview:before { content: '\e8a0';}
.material-palette:before { content: '\e40a';}
.material-pan_tool:before { content: '\e925';}
.material-panorama:before { content: '\e40b';}
.material-panorama_fish_eye:before { content: '\e40c';}
.material-panorama_horizontal:before { content: '\e40d';}
.material-panorama_vertical:before { content: '\e40e';}
.material-panorama_wide_angle:before { content: '\e40f';}
.material-party_mode:before { content: '\e7fa';}
.material-pause:before { content: '\e034';}
.material-pause_circle_filled:before { content: '\e035';}
.material-pause_circle_outline:before { content: '\e036';}
.material-payment:before { content: '\e8a1';}
.material-people:before { content: '\e7fb';}
.material-people_outline:before { content: '\e7fc';}
.material-perm_camera_mic:before { content: '\e8a2';}
.material-perm_contact_calendar:before { content: '\e8a3';}
.material-perm_data_setting:before { content: '\e8a4';}
.material-perm_device_information:before { content: '\e8a5';}
.material-perm_identity:before { content: '\e8a6';}
.material-perm_media:before { content: '\e8a7';}
.material-perm_phone_msg:before { content: '\e8a8';}
.material-perm_scan_wifi:before { content: '\e8a9';}
.material-person:before { content: '\e7fd';}
.material-person_add:before { content: '\e7fe';}
.material-person_outline:before { content: '\e7ff';}
.material-person_pin:before { content: '\e55a';}
.material-person_pin_circle:before { content: '\e56a';}
.material-personal_video:before { content: '\e63b';}
.material-pets:before { content: '\e91d';}
.material-phone:before { content: '\e0cd';}
.material-phone_android:before { content: '\e324';}
.material-phone_bluetooth_speaker:before { content: '\e61b';}
.material-phone_forwarded:before { content: '\e61c';}
.material-phone_in_talk:before { content: '\e61d';}
.material-phone_iphone:before { content: '\e325';}
.material-phone_locked:before { content: '\e61e';}
.material-phone_missed:before { content: '\e61f';}
.material-phone_paused:before { content: '\e620';}
.material-phonelink:before { content: '\e326';}
.material-phonelink_erase:before { content: '\e0db';}
.material-phonelink_lock:before { content: '\e0dc';}
.material-phonelink_off:before { content: '\e327';}
.material-phonelink_ring:before { content: '\e0dd';}
.material-phonelink_setup:before { content: '\e0de';}
.material-photo:before { content: '\e410';}
.material-photo_album:before { content: '\e411';}
.material-photo_camera:before { content: '\e412';}
.material-photo_filter:before { content: '\e43b';}
.material-photo_library:before { content: '\e413';}
.material-photo_size_select_actual:before { content: '\e432';}
.material-photo_size_select_large:before { content: '\e433';}
.material-photo_size_select_small:before { content: '\e434';}
.material-picture_as_pdf:before { content: '\e415';}
.material-picture_in_picture:before { content: '\e8aa';}
.material-picture_in_picture_alt:before { content: '\e911';}
.material-pin_drop:before { content: '\e55e';}
.material-place:before { content: '\e55f';}
.material-play_arrow:before { content: '\e037';}
.material-play_circle_filled:before { content: '\e038';}
.material-play_circle_outline:before { content: '\e039';}
.material-play_for_work:before { content: '\e906';}
.material-playlist_add:before { content: '\e03b';}
.material-playlist_add_check:before { content: '\e065';}
.material-playlist_play:before { content: '\e05f';}
.material-plus_one:before { content: '\e800';}
.material-poll:before { content: '\e801';}
.material-polymer:before { content: '\e8ab';}
.material-pool:before { content: '\eb48';}
.material-portable_wifi_off:before { content: '\e0ce';}
.material-portrait:before { content: '\e416';}
.material-power:before { content: '\e63c';}
.material-power_input:before { content: '\e336';}
.material-power_settings_new:before { content: '\e8ac';}
.material-pregnant_woman:before { content: '\e91e';}
.material-present_to_all:before { content: '\e0df';}
.material-print:before { content: '\e8ad';}
.material-public:before { content: '\e80b';}
.material-publish:before { content: '\e255';}
.material-query_builder:before { content: '\e8ae';}
.material-question_answer:before { content: '\e8af';}
.material-queue:before { content: '\e03c';}
.material-queue_music:before { content: '\e03d';}
.material-queue_play_next:before { content: '\e066';}
.material-radio:before { content: '\e03e';}
.material-radio_button_checked:before { content: '\e837';}
.material-radio_button_unchecked:before { content: '\e836';}
.material-rate_review:before { content: '\e560';}
.material-receipt:before { content: '\e8b0';}
.material-recent_actors:before { content: '\e03f';}
.material-record_voice_over:before { content: '\e91f';}
.material-redeem:before { content: '\e8b1';}
.material-redo:before { content: '\e15a';}
.material-refresh:before { content: '\e5d5';}
.material-remove:before { content: '\e15b';}
.material-remove_circle:before { content: '\e15c';}
.material-remove_circle_outline:before { content: '\e15d';}
.material-remove_from_queue:before { content: '\e067';}
.material-remove_red_eye:before { content: '\e417';}
.material-reorder:before { content: '\e8fe';}
.material-repeat:before { content: '\e040';}
.material-repeat_one:before { content: '\e041';}
.material-replay:before { content: '\e042';}
.material-replay_10:before { content: '\e059';}
.material-replay_30:before { content: '\e05a';}
.material-replay_5:before { content: '\e05b';}
.material-reply:before { content: '\e15e';}
.material-reply_all:before { content: '\e15f';}
.material-report:before { content: '\e160';}
.material-report_problem:before { content: '\e8b2';}
.material-restaurant_menu:before { content: '\e561';}
.material-restore:before { content: '\e8b3';}
.material-ring_volume:before { content: '\e0d1';}
.material-room:before { content: '\e8b4';}
.material-room_service:before { content: '\eb49';}
.material-rotate_90_degrees_ccw:before { content: '\e418';}
.material-rotate_left:before { content: '\e419';}
.material-rotate_right:before { content: '\e41a';}
.material-rounded_corner:before { content: '\e920';}
.material-router:before { content: '\e328';}
.material-rowing:before { content: '\e921';}
.material-rv_hookup:before { content: '\e642';}
.material-satellite:before { content: '\e562';}
.material-save:before { content: '\e161';}
.material-scanner:before { content: '\e329';}
.material-schedule:before { content: '\e8b5';}
.material-school:before { content: '\e80c';}
.material-screen_lock_landscape:before { content: '\e1be';}
.material-screen_lock_portrait:before { content: '\e1bf';}
.material-screen_lock_rotation:before { content: '\e1c0';}
.material-screen_rotation:before { content: '\e1c1';}
.material-screen_share:before { content: '\e0e2';}
.material-sd_card:before { content: '\e623';}
.material-sd_storage:before { content: '\e1c2';}
.material-search:before { content: '\e8b6';}
.material-security:before { content: '\e32a';}
.material-select_all:before { content: '\e162';}
.material-send:before { content: '\e163';}
.material-settings:before { content: '\e8b8';}
.material-settings_applications:before { content: '\e8b9';}
.material-settings_backup_restore:before { content: '\e8ba';}
.material-settings_bluetooth:before { content: '\e8bb';}
.material-settings_brightness:before { content: '\e8bd';}
.material-settings_cell:before { content: '\e8bc';}
.material-settings_ethernet:before { content: '\e8be';}
.material-settings_input_antenna:before { content: '\e8bf';}
.material-settings_input_component:before { content: '\e8c0';}
.material-settings_input_composite:before { content: '\e8c1';}
.material-settings_input_hdmi:before { content: '\e8c2';}
.material-settings_input_svideo:before { content: '\e8c3';}
.material-settings_overscan:before { content: '\e8c4';}
.material-settings_phone:before { content: '\e8c5';}
.material-settings_power:before { content: '\e8c6';}
.material-settings_remote:before { content: '\e8c7';}
.material-settings_system_daydream:before { content: '\e1c3';}
.material-settings_voice:before { content: '\e8c8';}
.material-share:before { content: '\e80d';}
.material-shop:before { content: '\e8c9';}
.material-shop_two:before { content: '\e8ca';}
.material-shopping_basket:before { content: '\e8cb';}
.material-shopping_cart:before { content: '\e8cc';}
.material-short_text:before { content: '\e261';}
.material-shuffle:before { content: '\e043';}
.material-signal_cellular_4_bar:before { content: '\e1c8';}
.material-signal_cellular_connected_no_internet_4_bar:before { content: '\e1cd';}
.material-signal_cellular_no_sim:before { content: '\e1ce';}
.material-signal_cellular_null:before { content: '\e1cf';}
.material-signal_cellular_off:before { content: '\e1d0';}
.material-signal_wifi_4_bar:before { content: '\e1d8';}
.material-signal_wifi_4_bar_lock:before { content: '\e1d9';}
.material-signal_wifi_off:before { content: '\e1da';}
.material-sim_card:before { content: '\e32b';}
.material-sim_card_alert:before { content: '\e624';}
.material-skip_next:before { content: '\e044';}
.material-skip_previous:before { content: '\e045';}
.material-slideshow:before { content: '\e41b';}
.material-slow_motion_video:before { content: '\e068';}
.material-smartphone:before { content: '\e32c';}
.material-smoke_free:before { content: '\eb4a';}
.material-smoking_rooms:before { content: '\eb4b';}
.material-sms:before { content: '\e625';}
.material-sms_failed:before { content: '\e626';}
.material-snooze:before { content: '\e046';}
.material-sort:before { content: '\e164';}
.material-sort_by_alpha:before { content: '\e053';}
.material-spa:before { content: '\eb4c';}
.material-space_bar:before { content: '\e256';}
.material-speaker:before { content: '\e32d';}
.material-speaker_group:before { content: '\e32e';}
.material-speaker_notes:before { content: '\e8cd';}
.material-speaker_phone:before { content: '\e0d2';}
.material-spellcheck:before { content: '\e8ce';}
.material-star:before { content: '\e838';}
.material-star_border:before { content: '\e83a';}
.material-star_half:before { content: '\e839';}
.material-stars:before { content: '\e8d0';}
.material-stay_current_landscape:before { content: '\e0d3';}
.material-stay_current_portrait:before { content: '\e0d4';}
.material-stay_primary_landscape:before { content: '\e0d5';}
.material-stay_primary_portrait:before { content: '\e0d6';}
.material-stop:before { content: '\e047';}
.material-stop_screen_share:before { content: '\e0e3';}
.material-storage:before { content: '\e1db';}
.material-store:before { content: '\e8d1';}
.material-store_mall_directory:before { content: '\e563';}
.material-straighten:before { content: '\e41c';}
.material-strikethrough_s:before { content: '\e257';}
.material-style:before { content: '\e41d';}
.material-subdirectory_arrow_left:before { content: '\e5d9';}
.material-subdirectory_arrow_right:before { content: '\e5da';}
.material-subject:before { content: '\e8d2';}
.material-subscriptions:before { content: '\e064';}
.material-subtitles:before { content: '\e048';}
.material-supervisor_account:before { content: '\e8d3';}
.material-surround_sound:before { content: '\e049';}
.material-swap_calls:before { content: '\e0d7';}
.material-swap_horiz:before { content: '\e8d4';}
.material-swap_vert:before { content: '\e8d5';}
.material-swap_vertical_circle:before { content: '\e8d6';}
.material-switch_camera:before { content: '\e41e';}
.material-switch_video:before { content: '\e41f';}
.material-sync:before { content: '\e627';}
.material-sync_disabled:before { content: '\e628';}
.material-sync_problem:before { content: '\e629';}
.material-system_update:before { content: '\e62a';}
.material-system_update_alt:before { content: '\e8d7';}
.material-tab:before { content: '\e8d8';}
.material-tab_unselected:before { content: '\e8d9';}
.material-tablet:before { content: '\e32f';}
.material-tablet_android:before { content: '\e330';}
.material-tablet_mac:before { content: '\e331';}
.material-tag_faces:before { content: '\e420';}
.material-tap_and_play:before { content: '\e62b';}
.material-terrain:before { content: '\e564';}
.material-text_fields:before { content: '\e262';}
.material-text_format:before { content: '\e165';}
.material-textsms:before { content: '\e0d8';}
.material-texture:before { content: '\e421';}
.material-theaters:before { content: '\e8da';}
.material-thumb_down:before { content: '\e8db';}
.material-thumb_up:before { content: '\e8dc';}
.material-thumbs_up_down:before { content: '\e8dd';}
.material-time_to_leave:before { content: '\e62c';}
.material-timelapse:before { content: '\e422';}
.material-timeline:before { content: '\e922';}
.material-timer:before { content: '\e425';}
.material-timer_10:before { content: '\e423';}
.material-timer_3:before { content: '\e424';}
.material-timer_off:before { content: '\e426';}
.material-toc:before { content: '\e8de';}
.material-today:before { content: '\e8df';}
.material-toll:before { content: '\e8e0';}
.material-tonality:before { content: '\e427';}
.material-touch_app:before { content: '\e913';}
.material-toys:before { content: '\e332';}
.material-track_changes:before { content: '\e8e1';}
.material-traffic:before { content: '\e565';}
.material-transform:before { content: '\e428';}
.material-translate:before { content: '\e8e2';}
.material-trending_down:before { content: '\e8e3';}
.material-trending_flat:before { content: '\e8e4';}
.material-trending_up:before { content: '\e8e5';}
.material-tune:before { content: '\e429';}
.material-turned_in:before { content: '\e8e6';}
.material-turned_in_not:before { content: '\e8e7';}
.material-tv e333
.material-unarchive:before { content: '\e169';}
.material-undo:before { content: '\e166';}
.material-unfold_less:before { content: '\e5d6';}
.material-unfold_more:before { content: '\e5d7';}
.material-update:before { content: '\e923';}
.material-usb:before { content: '\e1e0';}
.material-verified_user:before { content: '\e8e8';}
.material-vertical_align_bottom:before { content: '\e258';}
.material-vertical_align_center:before { content: '\e259';}
.material-vertical_align_top:before { content: '\e25a';}
.material-vibration:before { content: '\e62d';}
.material-video_library:before { content: '\e04a';}
.material-videocam:before { content: '\e04b';}
.material-videocam_off:before { content: '\e04c';}
.material-videogame_asset:before { content: '\e338';}
.material-view_agenda:before { content: '\e8e9';}
.material-view_array:before { content: '\e8ea';}
.material-view_carousel:before { content: '\e8eb';}
.material-view_column:before { content: '\e8ec';}
.material-view_comfy:before { content: '\e42a';}
.material-view_compact:before { content: '\e42b';}
.material-view_day:before { content: '\e8ed';}
.material-view_headline:before { content: '\e8ee';}
.material-view_list:before { content: '\e8ef';}
.material-view_module:before { content: '\e8f0';}
.material-view_quilt:before { content: '\e8f1';}
.material-view_stream:before { content: '\e8f2';}
.material-view_week:before { content: '\e8f3';}
.material-vignette:before { content: '\e435';}
.material-visibility:before { content: '\e8f4';}
.material-visibility_off:before { content: '\e8f5';}
.material-voice_chat:before { content: '\e62e';}
.material-voicemail:before { content: '\e0d9';}
.material-volume_down:before { content: '\e04d';}
.material-volume_mute:before { content: '\e04e';}
.material-volume_off:before { content: '\e04f';}
.material-volume_up:before { content: '\e050';}
.material-vpn_key:before { content: '\e0da';}
.material-vpn_lock:before { content: '\e62f';}
.material-wallpaper:before { content: '\e1bc';}
.material-warning:before { content: '\e002';}
.material-watch:before { content: '\e334';}
.material-watch_later:before { content: '\e924';}
.material-wb_auto:before { content: '\e42c';}
.material-wb_cloudy:before { content: '\e42d';}
.material-wb_incandescent:before { content: '\e42e';}
.material-wb_iridescent:before { content: '\e436';}
.material-wb_sunny:before { content: '\e430';}
.material-wc:before {content: '\e63d'; }
.material-web:before { content: '\e051';}
.material-web_asset:before { content: '\e069';}
.material-weekend:before { content: '\e16b';}
.material-whatshot:before { content: '\e80e';}
.material-widgets:before { content: '\e1bd';}
.material-wifi:before { content: '\e63e';}
.material-wifi_lock:before { content: '\e1e1';}
.material-wifi_tethering:before { content: '\e1e2';}
.material-work:before { content: '\e8f9';}
.material-wrap_text:before { content: '\e25b';}
.material-youtube_searched_for:before { content: '\e8fa';}
.material-zoom_in:before { content: '\e8ff';}
.material-zoom_out:before { content: '\e900';}
.material-zoo_out_map:before { content: '\e56b';}
